/*
** IconBox Style
*/
.icon-box{
  &__header{
    display: flex;
    align-items: center;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
    }
    img{
      margin-right: 20px;
      flex-shrink: 0;
    }
  }
  &__content{
    margin-top: 25px;
  }
  &__footer{
    margin-top: 15px;
  }
  @media (min-width: 992px) {
    &__content{
      margin-top: 30px;
    }
  }
}


