<% var data = {
title: "Home page",
}; %>

<%= _.template(require('./../includes/page_top.html').default)(data) %>


<%= _.template(require('./../includes/headers/header.html').default)(data) %>

<main>
    <section class="section section_light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <div class="intro__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                    </div>
                    <div class="intro-nav">
                        <div class="intro-nav__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro-nav__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro-nav__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro-nav__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro-nav__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                        <div class="intro-nav__item">
                            <img src="img/intro.jpg" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section ls s-pt-40 c-gutter-40 c-mb-40 c-mb-lg-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box">
                        <div class="icon-box__header">
                            <img src="img/icon1.png" alt="icon1">
                            <h4>Check  out  my  latest
                                portfolio  items</h4>
                        </div>
                        <div class="icon-box__content">
                            <p>
                                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
                            </p>
                        </div>
                        <div class="icon-box__footer">
                            <a class="btn btn_maincolor" href="#">more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box">
                        <div class="icon-box__header">
                            <img src="img/icon2.png" alt="icon2">
                            <h4>Offer  Top  Notch  Quality
                                Work  &  Services</h4>
                        </div>
                        <div class="icon-box__content">
                            <p>
                                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
                            </p>
                        </div>
                        <div class="icon-box__footer">
                            <a class="btn btn_maincolor" href="#">more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box">
                        <div class="icon-box__header">
                            <img src="img/icon3.png" alt="icon3">
                            <h4>Follow  Me  on  Twitter,
                                Facebook  &  Pinterest</h4>
                        </div>
                        <div class="icon-box__content">
                            <p>
                                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
                            </p>
                        </div>
                        <div class="icon-box__footer">
                            <a class="btn btn_maincolor" href="#">more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ls s-pt-lg-45 s-pb-lg-50 s-pb-20 c-gutter-20 c-mb-20 c-mb-lg-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="special-heading special-heading_with-decoration">
                        <span>Recent  Works</span>
                    </h4>
                    <div class="divider-lg-20"></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <article class="vertical-item vertical-item_bordered">
                        <div class="item-media">
                            <img src="img/intro.jpg" alt="post1">
                            <div class="media-links">
                                <a class="abs-link" href="#"></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h5 class="entry-title">
                                    <a href="#">
                                        Character  Design
                                    </a>
                                </h5>
                                <div class="entry-meta">
                                    <h6>
                                        June 15, 2012
                                    </h6>
                                </div>
                            </header>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <article class="vertical-item vertical-item_bordered">
                        <div class="item-media">
                            <img src="img/intro.jpg" alt="post1">
                            <div class="media-links">
                                <a class="abs-link" href="#"></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h5 class="entry-title">
                                    <a href="#">
                                        Character  Design
                                    </a>
                                </h5>
                                <div class="entry-meta">
                                    <h6>
                                        June 15, 2012
                                    </h6>
                                </div>
                            </header>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <article class="vertical-item vertical-item_bordered">
                        <div class="item-media">
                            <img src="img/intro.jpg" alt="post1">
                            <div class="media-links">
                                <a class="abs-link" href="#"></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h5 class="entry-title">
                                    <a href="#">
                                        Character  Design
                                    </a>
                                </h5>
                                <div class="entry-meta">
                                    <h6>
                                        June 15, 2012
                                    </h6>
                                </div>
                            </header>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <article class="vertical-item vertical-item_bordered">
                        <div class="item-media">
                            <img src="img/intro.jpg" alt="post1">
                            <div class="media-links">
                                <a class="abs-link" href="#"></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <h5 class="entry-title">
                                    <a href="#">
                                        Character  Design
                                    </a>
                                </h5>
                                <div class="entry-meta">
                                    <h6>
                                        June 15, 2012
                                    </h6>
                                </div>
                            </header>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>


<%= _.template(require('./../includes/footers/footer.html').default)(data) %>

<%= _.template(require('./../includes/page_bottom.html').default)(data) %>